.footer {
    width: 390px;
    height: 50px;
    display:flex;
.footer__list
    {
        margin: auto;
        display: flex;
        flex-direction: row;
        gap: 22px;
        color: $color-white;
        li a{ 
            color:$color-white;
            text-decoration: none;
            text-transform: capitalize;
            }
    }
}