// colors
$color-light-orange: rgb(245, 142, 118);	//light orange
$color-dark-orange: rgb(235, 80, 40);		//dark orange
$color-blue:rgb(29, 52, 138);		        //blue
$color-dark-blue:rgb(22, 40, 111);		    //dark blue
$color-white:rgb(247, 247, 247);		    //white
$color-light-blue:rgb(241, 248, 255);		//light blue