// colors
$color-light-orange: #f58e76;	//light orange
$color-dark-orange: #eb5028;		//dark orange
$color-blue:#1d348a;		        //blue
$color-dark-blue:#16286f;		    //dark blue
$color-white:#f7f7f7;		    //white
$color-light-blue:#f1f8ff;		//light blue