// colors
$color-light-orange: #f58e76;	//light orange
$color-dark-orange: #eb5028;		//dark orange
$color-blue:#1d348a;		        //blue
$color-dark-blue:#16286f;		    //dark blue
$color-white:#f7f7f7;		    //white
$color-light-blue:#f1f8ff;		//light blue

// colors dark mode

$color-dm-lightgrayblue: #A6C6ED;
$color-dm-grayblue: #6A7D99;
$color-dm-nightblue : #212134;
$color-dm-gray : #55596C;
$color-dm-aqua: #7BD2FF;
